
.dashboard-stat.blue{
    background: #36D1DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 2px 3px 5px 3px #5989e44a;
    -webkit-box-shadow: 2px 3px 5px 3px #5989e44a;
    box-sizing: border-box;
    border-radius: 5px !important;
}

.dashboard-stat.red{
    background: #8A2387;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #F27121, #E94057, #8A2387);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #F27121, #E94057, #8A2387); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 2px 3px 5px 3px #e7505a4a;
    border-radius: 5px !important;
}

.dashboard-stat.green{
    background: #1FA2FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #A6FFCB, #12D8FA, #1FA2FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #A6FFCB, #12D8FA, #1FA2FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    box-shadow: 2px 3px 5px 3px #e7505a4a;
    -webkit-box-shadow: 2px 3px 5px 3px #32c5d24a;
    box-sizing: border-box;
    border-radius: 5px !important;
}
.dashboard-stat.purple{
    background: #bc4e9c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #f80759, #bc4e9c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #f80759, #bc4e9c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 2px 3px 5px 3px #e7505a4a;
    -webkit-box-shadow: 2px 3px 5px 3px #8e44ad4a;
    box-sizing: border-box;
    border-radius: 5px !important;
}