@charset "UTF-8";
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 08.┼Şub.2019, 15:07:56
    Author     : engin
*/
.margin-top-15 {
  margin-top: 15px; }

.margin-top-25 {
  margin-top: 25px; }

.margin-top-35 {
  margin-top: 35px; }

.timeline-badge-userpic span {
  display: block;
  margin: auto;
  background: #3598dc;
  font-size: 42px;
  font-weight: bold;
  text-align: center;
  line-height: 70px;
  border-radius: 50%;
  color: #fff; }

a.no-underline {
  text-decoration: none !important; }

.waiting_screen {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  cursor: wait;
  background: white;
  z-index: 999999;
  opacity: 0.3; }

.uploadArea {
  position: relative;
  display: block;
  margin: auto;
  padding: 5px;
  width: 100%; }
  .uploadArea .uploading img.uploadGif {
    margin-top: 25px; }
  .uploadArea .uploading .imageProgres {
    position: relative;
    float: left;
    display: block;
    height: 5px;
    width: 100%;
    margin-top: 10px;
    border-radius: 6px;
    background: #e1e1e1;
    border: 1px solid #e1e1e1; }
    .uploadArea .uploading .imageProgres .imageProgresWidth {
      position: absolute;
      height: 100%;
      top: 0;
      left: 0;
      border-radius: 6px;
      background: red; }

.category_tree ul li {
  list-style: none;
  cursor: pointer;
  letter-spacing: 1px;
  font-weight: 400;
  padding: 2px 0; }
  .category_tree ul li span {
    float: right;
    transition: all 0.2s; }
    .category_tree ul li span:hover {
      font-size: 18px;
      line-height: 18px;
      color: #337ab7; }
  .category_tree ul li a {
    text-decoration: none; }
  .category_tree ul li:before {
    content: " \2022 "; }
  .category_tree ul li:hover {
    background: #f9f9f9; }
.category_tree ul li.selected {
  background: #f9f9f9; }

.parent_category_list {
  margin-top: 20px; }
  .parent_category_list ul li {
    font-size: 14px; }
    .parent_category_list ul li a {
      text-decoration: none; }

.progress {
  height: 4px;
  background-color: rgba(98, 98, 98, 0.2);
  background-image: none;
  box-shadow: none;
  border-radius: 0; }

.progress.transparent {
  background-color: rgba(0, 0, 0, 0.28); }

.progress.progress-small {
  height: 3px; }

/* Circular Progress : indeterminate color
------------------------------------
*/
.progress-bar-indeterminate {
  background: url("../img/progress/progress-bar-master.svg") no-repeat top left;
  width: 100%;
  height: 100%;
  background-size: cover; }

.progress-bar-indeterminate.progress-bar-primary {
  background-image: url("../img/progress/progress-bar-primary.svg");
  background-color: transparent; }

.progress-bar-indeterminate.progress-bar-complete {
  background-image: url("../img/progress/progress-bar-complete.svg");
  background-color: transparent; }

.progress-bar-indeterminate.progress-bar-success {
  background-image: url("../img/progress/progress-bar-success.svg");
  background-color: transparent; }

.progress-bar-indeterminate.progress-bar-info {
  background-image: url("../img/progress/progress-bar-info.svg");
  background-color: transparent; }

.progress-bar-indeterminate.progress-bar-warning {
  background-image: url("../img/progress/progress-bar-warning.svg");
  background-color: transparent; }

.progress-bar-indeterminate.progress-bar-danger {
  background-image: url("../img/progress/progress-bar-danger.svg");
  background-color: transparent; }

.progress-bar-indeterminate.progress-bar-master {
  background-image: url("../img/progress/progress-bar-master.svg");
  background-color: transparent; }

/* Progress Bar
------------------------------------
*/
.progress-bar {
  box-shadow: none;
  border-radius: 0;
  background-color: #626262;
  background-image: none;
  -webkit-transition: all 1000ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 1000ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -webkit-transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -ms-transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86); }

/* Progress Bar : Color Options
------------------------------------
*/
.progress-bar-primary {
  background-color: #6d5cae;
  background-image: none; }

.progress-bar-complete {
  background-color: #48b0f7;
  background-image: none; }

.progress-bar-success {
  background-color: #10cfbd;
  background-image: none; }

.progress-bar-info {
  background-color: #3b4752;
  background-image: none; }

.progress-bar-warning {
  background-color: #f8d053;
  background-image: none; }

.progress-bar-danger {
  background-color: #f55753;
  background-image: none; }

.progress-bar-white {
  background-color: #fff;
  background-image: none; }

.progress-bar-black {
  background-color: #000;
  background-image: none; }

.progress-info .bar,
.progress .bar-info {
  background-color: #232b31;
  background-image: none; }

.progress-warning .bar,
.progress .bar-warning {
  background-color: #957d32;
  background-image: none; }

.progress-danger .bar,
.progress .bar-danger {
  background-color: #933432;
  background-image: none; }

.progress-white .bar,
.progress .bar-white {
  background-color: #fff;
  background-image: none; }

.progress-success.progress-striped .bar,
.progress-striped .bar-success {
  background-color: #10cfbd; }

.progress-info.progress-striped .bar,
.progress-striped .bar-info {
  background-color: #3b4752; }

/* Circular Progress : indeterminate 
------------------------------------
*/
.progress-circle-indeterminate {
  background: url("../img/progress/progress-circle-master.svg") no-repeat top left;
  width: 50px;
  height: 50px;
  background-size: 100% auto;
  margin: 0 auto; }

.progress-circle-indeterminate.progress-circle-warning {
  background-image: url("../img/progress/progress-circle-warning.svg"); }

.progress-circle-indeterminate.progress-circle-danger {
  background-image: url("../img/progress/progress-circle-danger.svg"); }

.progress-circle-indeterminate.progress-circle-info {
  background-image: url("../img/progress/progress-circle-info.svg"); }

.progress-circle-indeterminate.progress-circle-primary {
  background-image: url("../img/progress/progress-circle-primary.svg"); }

.progress-circle-indeterminate.progress-circle-success {
  background-image: url("../img/progress/progress-circle-success.svg"); }

.progress-circle-indeterminate.progress-circle-complete {
  background-image: url("../img/progress/progress-circle-complete.svg"); }

/* Circular Progress 
------------------------------------
*/
.progress-circle {
  display: block;
  height: 45px;
  margin: 0 auto;
  position: relative;
  width: 45px;
  -webkit-backface-visibility: hidden; }

.progress-circle.progress-circle-warning .pie .half-circle {
  border-color: #f8d053; }

.progress-circle.progress-circle-danger .pie .half-circle {
  border-color: #f55753; }

.progress-circle.progress-circle-info .pie .half-circle {
  border-color: #3b4752; }

.progress-circle.progress-circle-primary .pie .half-circle {
  border-color: #6d5cae; }

.progress-circle.progress-circle-success .pie .half-circle {
  border-color: #10cfbd; }

.progress-circle.progress-circle-complete .pie .half-circle {
  border-color: #48b0f7; }

.progress-circle.progress-circle-thick .pie .half-circle,
.progress-circle.progress-circle-thick .shadow {
  border-width: 5px; }

.progress-circle .pie {
  clip: rect(0, 45px, 45px, 22.5px);
  height: 45px;
  position: absolute;
  width: 45px; }

.progress-circle .pie .half-circle {
  border: 3px solid #626262;
  border-radius: 50%;
  clip: rect(0, 22.5px, 45px, 0);
  height: 45px;
  position: absolute;
  width: 45px; }

.progress-circle .shadow {
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  height: 100%;
  width: 100%; }

[data-category="select_category_thumbnail"] {
  max-width: 100px;
  display: block;
  margin: auto; }

.product_gallery {
  position: relative;
  display: block;
  margin: auto;
  width: 100%; }
  .product_gallery ul li {
    list-style: none;
    float: left;
    width: 16.6%; }
    .product_gallery ul li img {
      cursor: move; }

.product_image_content {
  position: relative;
  padding: 0px; }
  .product_image_content .btn {
    border-radius: 2px; }
    .product_image_content .btn span {
      line-height: 20px;
      font-size: 15px; }
  .product_image_content .btn-remove-image {
    position: absolute;
    top: 0px;
    right: 0px; }
  .product_image_content .btn-edit-image {
    position: absolute;
    top: 0px;
    right: 35px; }

/*# sourceMappingURL=system.css.map */
