/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03.Eyl.2019, 13:46:38
    Author     : engin
*/

.portlet.light.bordered{
    box-shadow: 3px 4px 8px -2px #bbbbbb;
    -webkit-box-shadow: 3px 4px 8px -2px #bbbbbb;
    box-sizing: border-box;
    border-radius: 5px !important;
    background: #1FA2FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #a6ffcb0a, #12d8fa21, #1fa2ff0d);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #a6ffcb0a, #12d8fa21, #1fa2ff0d) /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}